.container5{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/dialog.jpg) no-repeat center center/cover;
    padding: 20px;
}

.PassBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 60px 40px;
    background: white;
    border-radius: 15px;
    height: fit-content;
}

.PassBox img{
    width: 130px;
}

.PassBox h2{
    font-size: 2rem;
    color: #00C4EE;
}

.PassBox form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.PassBox form input{
    width: 100%;
    padding: 15px;
    border: 1px solid #00C4EE;
    border-radius: 5px;
}

.PassBox form button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #34DCA7;
    font-weight: 500;
}

.PassBox form button:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
    .PassBox form input{
        padding: 8;
    }

    .PassBox {
        padding: 40px 30px;
    }
}